In [1]:
import pandas as pd
import numpy as np 
#from keras.models import Sequential
#from keras.layers import Activation, Dropout, Flatten, Dense, LSTM, RepeatVector, TimeDistributed
from scipy.io import loadmat

In [18]:
data1 = loadmat("./data/Pot1_0_Pot2_0_50_4X_wMag.mat")
data2 = loadmat("./data/Pot1_10_Pot2_0_50_4X_wMag.mat")
data3 = loadmat("./data/Pot1_20_Pot2_0_50_4X_wMag.mat")
data4 = loadmat("./data/Pot1_30_Pot2_0_50_4X_wMag.mat")
data5 = loadmat("./data/Pot1_50_Pot2_0_50_4X_wMag.mat")
data6 = loadmat("./data/Pot1_60_Pot2_0_50_4X_wMag.mat")
data7 = loadmat("./data/Pot1_40_Pot2_0_50_4X_wMag.mat")

data7.keys()

dict_keys(['__header__', '__version__', '__globals__', 'Data', 'Mag_Angle_MxMy', 'Mag_Angle_MxMy_2', 'Mag_Angle_MxMz', 'Mag_Angle_MxMz_2', 'Mag_Angle_MyMx', 'Mag_Angle_MyMx_2', 'Mag_Angle_MyMz', 'Mag_Angle_MyMz_2', 'Mag_Angle_MzMx', 'Mag_Angle_MzMx_2', 'Mag_Angle_MzMy', 'Mag_Angle_MzMy_2', 'Mx', 'My', 'Mz', 'Pot1', 'Pot2', 'Pot_Angle_1', 'Pot_Angle_2', 'data', 'i', 'idx1', 'idx2', 'idxx1', 'idxx2', 'idy1', 'idy2', 'idyy1', 'idyy2', 'idz1', 'idz2', 'idzz1', 'idzz2', 'numberOfDatas', 'p2_MxMy', 'p2_MxMz', 'p2_MyMx', 'p2_MyMz', 'p2_MzMx', 'p2_MzMy', 'p4_MxMy', 'p4_MxMz', 'p4_MyMx', 'p4_MyMz', 'p4_MzMx', 'p4_MzMy', 'px', 'py', 'pz', 'ratio', 'None', 'theta_magnet_MxMy', 'theta_magnet_MxMz', 'theta_magnet_MyMx', 'theta_magnet_MyMz', 'theta_magnet_MzMx', 'theta_magnet_MzMy', 'x1', 'x2', 'xx2', 'y1', 'y2', 'yy2', 'z1', 'z2', 'zz2', '__function_workspace__'])

In [19]:
print(len(data1['Mx'][0]))
print(data1['Mx'][0].flat[0])

1
-317.33965941278154

In [20]:
variable_list = ['Mx', 'My', 'Mz', 'Pot1', 'Pot2']

data_frame_list = []

for data in [data1, data2, data3, data4, data5, data6, data7]:
    data_as_list = [[data[variable][i].flat[0] for variable in variable_list]
                        for i in range(len(data['Mx']))]
    data_frame = pd.DataFrame(data_as_list, columns = variable_list)
    data_frame_list.append(data_frame)

combined_data_frame = pd.concat(data_frame_list, ignore_index=True)

In [22]:
combined_data_frame.tail()

             Mx          My          Mz  Pot1  Pot2
688 -219.661472 -308.806823 -193.512572   350   814
689 -220.938574 -305.664262 -186.522321   350   816
690 -218.514853 -306.379091 -187.183863   352   815
691 -219.938574 -310.806823 -176.512572   352   815
692 -220.360311 -313.664262 -181.512572   350   814

In [23]:
combined_data_frame.to_csv('./data/combined_data_v1.csv')