In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_matfile_to_pd(file, feature_list):
    '''
    This function returns a pandas DataFrame from a given
    .mat file with columns from a provided feature list.
    '''
    #importing necessary library
    from scipy.io import loadmat
    import pandas as pd
    import numpy as np
    
    #loading mat file and create a dict object
    mat = loadmat(file)
    mat = {k:v for k, v in mat.items() if k[0] != '_'}
    
    df = pd.DataFrame()
    for i in range(len(feature_list)):
        #using flatten for converting to 1d array
        df[feature_list[i]] = mat[feature_list[i]].flatten()
    return df

In [4]:
features = ['Mx', 'My', 'Mz', 'Pot1', 'Pot2']

data1 = read_matfile_to_pd('data/Pot1_0_Pot2_0_50_4X_wMag.mat',  features)
data2 = read_matfile_to_pd('data/Pot1_10_Pot2_0_50_4X_wMag.mat', features)
data3 = read_matfile_to_pd('data/Pot1_20_Pot2_0_50_4X_wMag.mat', features)
data4 = read_matfile_to_pd('data/Pot1_30_Pot2_0_50_4X_wMag.mat', features)
data5 = read_matfile_to_pd('data/Pot1_40_Pot2_0_50_4X_wMag.mat', features)
data6 = read_matfile_to_pd('data/Pot1_50_Pot2_0_50_4X_wMag.mat', features)
data7 = read_matfile_to_pd('data/Pot1_60_Pot2_0_50_4X_wMag.mat', features)

df = pd.concat([data1, data2, data3, data4, data5, data6, data7], ignore_index=True)
df

             Mx          My          Mz  Pot1  Pot2
0   -317.339659 -494.245550 -151.473159   477   948
1   -326.369591 -496.245550 -146.405939   480   947
2   -324.369591 -494.245550 -153.537383   478   947
3   -317.396305 -492.853283 -136.537383   478   947
4   -327.339659 -492.638450 -142.537383   477   946
..          ...         ...         ...   ...   ...
688 -145.629028 -213.139985 -106.971329   266   783
689 -146.828556 -208.004556 -109.827270   264   783
690 -143.413387 -210.139985 -116.538194   265   784
691 -146.025793 -211.382410 -114.538194   267   783
692 -148.603738 -215.382410 -108.115075   267   783

[693 rows x 5 columns]

In [ ]:
df.to_csv('Combined_Data.csv')